{
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "semi": true,
  "importOrder": ["^@hexon/(.*)$", "^[./]"],
  "importOrderParserPlugins": [
    "typescript",
    "jsx",
    "classProperties",
    "decorators-legacy"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
